<h1 id="name">{{ dessin.name }}</h1>
<ng-template [ngIf]="this.dessin.image === undefined" [ngIfElse]="elseBlock">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-template #elseBlock>
	<button (click)="open()">
		<div id="image-container">
			<img [src]="image()" />
		</div>
	</button>
</ng-template>
<div id="etiquette-container">
	<div *ngFor="let etiquette of dessin.etiquette">
		<a>{{ etiquette }}</a>
	</div>
</div>
<ng-template [ngIf]="this.dessin.name !== 'Dessin vide'">
	<button mat-button (click)="remove()" class = 'remove'>remove</button>
</ng-template>

